{{ $data := .Site.Data }}

{{ if $data.homepage.about_product.enable }}
{{ with $data.homepage.about_product }}
<section class="feature-list section" id="services">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading">
          <h2>{{ .title | markdownify }}</h2>
        </div>
      </div>
    </div>
    {{ range $index, $element := .items }}
    {{- if ne (mod $index 2) 1 }}
    <div class="row mb-40">
      <div class="col-md-6 text-center mb-5 mb-lg-0">
            {{/* warnf "1 partials/about-product_left 🟢 : %+v" ( .image ) }}
            {{ warnf "2 partials/about-product_left 🟢 : %T" ( .image ) */}}

            {{/* Create the resource from .image */}}
            {{/* Fingerprint the resource */}}
            {{/* Create the copy */}}
            {{/* Pass the new resource path to data-image */}}
            {{/* Pass the new resource path to partial "image.html" */}}

            {{ $resourcePath := resources.Get .image }}
            {{ $fingerprintedImage := $resourcePath | fingerprint }}
            {{- $imgResource := resources.Copy ($fingerprintedImage.RelPermalink | strings.TrimPrefix (printf "/%s" site.Params.section)) (resources.Get $resourcePath) -}}
            {{ $fingerprintedURL := $imgResource.Permalink }}

            {{/* warnf "3 partials/about-product_left 🟢 : %+v" $imgResource }}
            {{ warnf "4 partials/about-product_left 🟢 : %T" $imgResource }}
            {{ warnf "5 partials/about-product_left 🟢 : %+v" $imgResource.Permalink }}
            {{ warnf "6 partials/about-product_left 🟢 : %T" $imgResource.Permalink */}}

            {{/* warnf "7 partials/about-product_left 🟢 : %+v" $fingerprintedURL }}
            {{ warnf "8 partials/about-product_left 🟢 : %T" $fingerprintedURL */}}
            {{ partial "image.html" (dict "Src" $fingerprintedURL "Alt" .title "Class" "img-fluid" ) }}
      </div>
      <div class="col-md-6 align-self-center text-center text-md-left">
        <div class="content">
          <h4 class="subheading">{{ .title | markdownify }}</h4>
          <p>{{ .content | markdownify }}</p>
          {{ if .button.enable }}
          {{ with .button }}
          <a href="{{ .link | absURL }}" class="btn btn-main btn-main-sm">{{ .label }}</a>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
    {{- else }}
    <div class="row mb-40">
      <div class="col-md-6 order-md-1 order-2 align-self-center text-center text-md-left">
        <div class="content">
          <h4 class="subheading">{{ .title | markdownify }}</h4>
          <p>{{ .content | markdownify }}</p>
          {{ if .button.enable }}
          {{ with .button }}
          <a href="{{ .link | absURL }}" class="btn btn-main btn-main-sm">{{ .label }}</a>
          {{ end }}
          {{ end }}
        </div>
      </div>
      <div class="col-md-6 order-md-2 order-1 text-center mb-5 mb-lg-0">
            {{/* warnf "1 partials/about-product_right 🟢 : %+v" ( .image ) }}
            {{ warnf "2 partials/about-product_right 🟢 : %T" ( .image ) */}}

            {{/* Create the resource from .image */}}
            {{/* Fingerprint the resource */}}
            {{/* Create the copy */}}
            {{/* Pass the new resource path to data-image */}}
            {{/* Pass the new resource path to partial "image.html" */}}

            {{ $resourcePath := resources.Get .image }}
            {{ $fingerprintedImage := $resourcePath | fingerprint }}
            {{- $imgResource := resources.Copy ($fingerprintedImage.RelPermalink | strings.TrimPrefix (printf "/%s" site.Params.section)) (resources.Get $resourcePath) -}}
            {{ $fingerprintedURL := $imgResource.Permalink }}

            {{/* warnf "3 partials/about-product_right 🟢 : %+v" $imgResource }}
            {{ warnf "4 partials/about-product_right 🟢 : %T" $imgResource }}
            {{ warnf "5 partials/about-product_right 🟢 : %+v" $imgResource.Permalink }}
            {{ warnf "6 partials/about-product_right 🟢 : %T" $imgResource.Permalink */}}

            {{/* warnf "7 partials/about-product_right 🟢 : %+v" $fingerprintedURL }}
            {{ warnf "8 partials/about-product_right 🟢 : %T" $fingerprintedURL */}}
            {{ partial "image.html" (dict "Src" $fingerprintedURL "Alt" .title "Class" "img-fluid" ) }}
      </div>
    </div>
    {{ end }}
    {{ end }}
  </div>
</section>
{{ end }}
{{ end }}
