{{ $data := .Site.Data }}

{{- if $data.homepage.features.enable }}
{{- with $data.homepage.features }}
<section class="section" id="features">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="heading">
          <h2>{{ .title | markdownify }}</h2>
        </div>
      </div>
      <div class="col-md-4">
        {{ range .left_side }}
        <div class="mb-40 text-center text-md-left">
          <i class="d-inlin-block h2 mb-10 {{ .icon }}"></i>
          <h4 class="mb-2">{{ .title | markdownify }}</h4>
          <p>{{ .content | markdownify }}</p>
        </div>
        {{ end }}
      </div>
      <div class="col-md-4 text-center align-self-center mb-4 mb-md-0">
        {{/* warnf "1 partials/features 🟢 : %+v" ( .image ) }}
        {{ warnf "2 partials/features 🟢 : %T" ( .image ) */}}

        {{/* Create the resource from .image */}}
        {{/* Fingerprint the resource */}}
        {{/* Create the copy */}}
        {{/* Pass the new resource path to data-image */}}
        {{/* Pass the new resource path to partial "image.html" */}}

        {{ $resourcePath := resources.Get .image }}
        {{ $fingerprintedImage := $resourcePath | fingerprint }}
        {{- $imgResource := resources.Copy ($fingerprintedImage.RelPermalink | strings.TrimPrefix (printf "/%s" site.Params.section)) (resources.Get $resourcePath) -}}
        {{ $fingerprintedURL := $imgResource.Permalink }}

        {{/* warnf "3 partials/features 🟢 : %+v" $imgResource }}
        {{ warnf "4 partials/features 🟢 : %T" $imgResource }}
        {{ warnf "5 partials/features 🟢 : %+v" $imgResource.Permalink }}
        {{ warnf "6 partials/features 🟢 : %T" $imgResource.Permalink */}}

        {{/* warnf "7 partials/features 🟢 : %+v" $fingerprintedURL }}
        {{ warnf "8 partials/features 🟢 : %T" $fingerprintedURL */}}
        {{ partial "image.html" (dict "Src" $fingerprintedURL "Alt" .title "Class" "img-fluid" ) }}
      </div>
      <div class="col-md-4">
          {{ range .right_side }}
        <div class="mb-40 text-center text-md-left">
          <i class="d-inlin-block h2 mb-10 {{ .icon }}"></i>
          <h4 class="mb-2">{{ .title | markdownify }}</h4>
          <p>{{ .content | markdownify }}</p>
        </div>
        {{ end }}
      </div>
    </div>
  </div><!-- .container close -->
</section>
{{- end }}
{{- end }}
