<div class="footer-wrapper {{ .Site.Params.section }}">
  <footer>
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12">
          <div class="block">
            <ul class="list-inline footer-menu d-flex justify-content-center align-items-center">
              <li class="list-inline-item">
                <a href="https://www.instagram.com/epiclinesnz/" target="_blank" rel="noopener noreferrer" class="d-inline-block social">
                  <i class='tf-ion-social-instagram-outline'></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="{{ site.BaseURL | relLangURL }}" class="mb-4 d-inline-block logo">
                  {{ if site.Params.logo }}
                    {{/* warnf "1 partials/footer 🟢 : %+v" ( .Site.Params.logo ) }}
                    {{ warnf "2 partials/footer 🟢 : %T" ( .Site.Params.logo ) */}}

                    {{/* Create the resource from .Site.Params.logo */}}
                    {{/* Fingerprint the resource */}}
                    {{/* Create the copy */}}
                    {{/* Pass the new resource path to data-image */}}
                    {{/* Pass the new resource path to partial "image.html" */}}

                    {{ $resourcePath := resources.Get .Site.Params.logo }}
                    {{ $fingerprintedImage := $resourcePath | fingerprint }}
                    {{- $imgResource := resources.Copy ($fingerprintedImage.RelPermalink | strings.TrimPrefix (printf "/%s" site.Params.section)) (resources.Get $resourcePath) -}}
                    {{ $fingerprintedURL := $imgResource.Permalink }}

                    {{/* warnf "3 partials/footer 🟢 : %+v" $imgResource }}
                    {{ warnf "4 partials/footer 🟢 : %T" $imgResource }}
                    {{ warnf "5 partials/footer 🟢 : %+v" $imgResource.Permalink }}
                    {{ warnf "6 partials/footer 🟢 : %T" $imgResource.Permalink */}}

                    {{/* warnf "7 partials/footer 🟢 : %+v" $fingerprintedURL }}
                    {{ warnf "8 partials/footer 🟢 : %T" $fingerprintedURL */}}
                    {{ partial "image.html" (dict "Src" $fingerprintedURL "Alt" site.Title "Class" "img-fluid" ) }}
                  {{ else }} {{ .Title }} {{ end }}
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.facebook.com/EpicLinesNZ" target="_blank" rel="noopener noreferrer" class="d-inline-block social">
                  <i class='tf-ion-social-facebook'></i>
                </a>
              </li>              
            </ul>
            <ul class="list-inline footer-menu">
              {{ range site.Menus.footer }}
              <li class="list-inline-item">
                <!-- Doesn't work when hosted on amplify because it uses the amplify domain -->
                {{/*<a href="{{ .URL | absLangURL }}">{{ .Name }}</a>*/}}
                <a href="{{ .URL | relLangURL }}">{{ .Name }}</a>
              </li>
              {{ end }}
            </ul>
            <p class="footer-tag-line" >Making Lines across New Zealand</p>
            <p class="copyright-text">{{ site.Params.copyright | markdownify }}
            <br>
            Created by <a href="https://binarymist.io" target="_blank">BinaryMist</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>


<!-- Snipcart public key -->
{{ with site.Params.snipcart }}
{{ if .enable }}
{{ with .snipcart_api }}
<div hidden id="snipcart" data-api-key="{{.}}"></div>
{{ end }}
{{ end }}
{{ end }}

<!-- Vendor Scripts -->
{{ "" | safeHTML }}
{{ $vendor_scripts := slice }}
{{ range site.Params.vendor.js }}
  {{ with resources.Get .link }}
    {{ $vendor_scripts = $vendor_scripts | append . }}
  {{ end }}
{{ end }}

{{ $final_vendor_scripts := $vendor_scripts | resources.Concat "js/vendor_bundle.js" | fingerprint }}
<script src="{{ $final_vendor_scripts.Permalink }}" integrity="{{ $final_vendor_scripts.Data.Integrity }}"></script>

<!-- To be removed once we implement Stripe -->
<script src="https://cdn.snipcart.com/themes/v3.0.27/default/snipcart.js"></script>

{{ $elBundleOpts := dict "targetPath" "js/el-bundle.js" "minify" true }}
{{ $eLJS := resources.Get "js/main.js" | js.Build $elBundleOpts | fingerprint }}
<script src="{{ $eLJS.Permalink }}" type="module"> integrity="{{ $eLJS.Data.Integrity }}"</script>

<!-- Main Script from theme -->
{{ $script := resources.Get "js/script.js" | minify | fingerprint }}
<script src="{{ $script.Permalink }}"></script>
