{{ $current_page := . }}
{{ $highlight_active_link := site.Params.main_menu.highlight_active_link | default true }}

<!-- navigation -->
<header class="sticky-top">

  <!-- Full-width background for top-tabs -->
  <div class="top-tabs-wrapper {{ .Site.Params.section }}">
    <div class="container">
      {{ partial "toptabs.html" . }}
    </div>
  </div>

  <!-- Full-width background for navbar -->
  <div class="navbar-wrapper {{ .Site.Params.section }}">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark {{ .Site.Params.section }}">
      <a class="navbar-brand" href="{{ site.BaseURL | relLangURL }}">
          {{ if site.Params.logo }}
            {{ partial "image-fingerprint.html" (dict 
                  "src" (site.Params.logo) 
                  "alt" site.Title 
                  "width" site.Params.logo_width
                  "height" site.Params.logo_height
              )}}
          {{ else }}
              {{ site.Title }}
          {{ end }}
      </a>
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation"
        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse text-center" id="navigation">
        <ul class="navbar-nav ml-auto">
          {{ range site.Menus.main }}
          
          <!-- Following code taken from purpleteam-labs-web -->
          {{ if .HasChildren }}
          <li class="nav-item dropdown">
            <a href="{{ .URL | relLangURL }}" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
              <span>{{ .Name | safeHTML }}</span>
              <span class="caret"></span>
            </a>
            <div class="dropdown-menu">
              {{ range .Children }}
                <a class="dropdown-item" href="{{ .URL | relLangURL }}"{{ if $.IsHome }} data-target="{{ .URL }}"{{ end }}>
                  <span>{{ .Name | safeHTML }}</span>
                </a>
              {{ end }}
            </div>
          </li>

          {{ else }}
  
          {{/* Set target for link. */}}
          {{ with .Params.newTab }}
            {{ if eq . true }}
              {{ $.Scratch.Set "target" " target=\"_blank\" rel=\"noopener\"" }}
            {{ end }}
          {{ end }}
  
          {{/* Get active page. */}}
  
          {{ $is_link_in_current_path := false }}
          {{ $is_widget_page := or $current_page.IsHome (eq $current_page.Type "widget_page") }}
          {{ $is_same_page := false }}
          {{ $hash := findRE "#(.+)" .URL }}
  
          {{ if $current_page.IsHome | and (or (eq .URL "/") (eq .URL "")) }}
            {{ $is_link_in_current_path = true }}
          {{else}}
            {{ if gt (len .URL) 1 }}{{/* Ignore root URL */}}
              {{ $is_link_in_current_path = in $current_page.RelPermalink .URL }}
              {{ $is_same_page = $is_link_in_current_path }}
            {{end}}
            {{ if gt (len $hash) 0 }}
              {{ $hash = index $hash 0 }}
              {{ $hash_removed := replace .URL $hash "" }}
              {{ if eq (len $hash_removed) 0 }}
                {{ $hash_removed = "/" }}{{/* Add robustness for `/#SECTION` or `#SECTION` in `menus.toml`. */}}
              {{ end }}
              {{ $is_same_page = eq (path.Dir $current_page.RelPermalink) (path.Dir ($hash_removed|relLangURL)) }}
            {{ end }}
          {{end}}
  
          <li class="nav-item">
            <a class="nav-link {{if and $highlight_active_link $is_link_in_current_path }} active{{end}}" href="{{.URL | relLangURL}}"{{ if and $is_widget_page $is_same_page }} data-target="{{$hash}}"{{ end }}{{ ($.Scratch.Get "target") | safeHTMLAttr }}>
              <span>{{ .Name | safeHTML }}</span>
            </a>
          </li>
  
          {{ end }}
          {{ end }}

        </ul>
      </div>
      {{ if site.Params.snipcart.enable}}
      <button class="cart snipcart-checkout"><i class="tf-ion-android-cart"></i><span class="badge badge-primary snipcart-items-count"></span></button>
      {{ end }}
      </nav>
    </div>
  </div>
</header>
<!-- /navigation -->
