{{ $data := .Site.Data }}

{{ if $data.homepage.products.enable }}
<section class="section" id="products">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a href="{{ .Site.BaseURL }}products/" class="homepage-product-link">
          <div class="heading">
            <h2>{{ $data.homepage.products.title | markdownify }}</h2>
          </div>
          <p>{{ $data.homepage.products.content | markdownify }}</p>
        </a>
        <div class="product-slider">
          {{ $productGroups := (where .Site.RegularPages "Section" "products").GroupBy "Parent" }}
          {{ range $productGroups }}
          <div class="block">
            <div class="gallery-overlay">
              <a href="{{ .Key.Permalink }}" class="gallery-popup">
                <i class="tf-ion-plus-round"></i>
              </a>
            </div>
            {{ $firstProduct := (index .Pages 0) }}
            {{ if $firstProduct }}
            {{ with $firstProduct.Params.images }}
            <img class="img-fluid" src="{{ range first 1 . }}{{ . | absURL }}{{ end }}" alt="{{ $firstProduct.Title }}">
            {{ end }}
            {{ end }}
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
