{{ $data := .Site.Data }}

{{ if $data.homepage.testimonial.enable }}
<section class="testimonials section" id="testimonial">
  <div class="container">
    {{ with $data.homepage.testimonial }}
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="heading">
          <h2>{{ .title | markdownify }}</h2>
        </div>
      </div>
      
      <div class="testimonial-slider col-12">
      
      {{ range .testimonial_item }}
      <div class="testimonial-block d-flex flex-column mx-3 text-center">        
        <i class="tf-ion-quote"></i>
        <p>{{ .content | markdownify }}</p>
        <div class="author-details">
          {{/* warnf "1 partials/testimonials 🟢 : %+v" ( .image ) }}
          {{ warnf "2 partials/testimonials 🟢 : %T" ( .image ) */}}

          {{/* Create the resource from . image*/}}
          {{/* Fingerprint the resource */}}
          {{/* Create the copy */}}
          {{/* Pass the new resource path to partial "image.html" */}}

          {{ $resourcePath := resources.Get .image }}
          {{ if $resourcePath }}
            {{ $fingerprintedImage := $resourcePath | fingerprint }}
            {{- $imgResource := resources.Copy ($fingerprintedImage.RelPermalink | strings.TrimPrefix (printf "/%s" site.Params.section)) (resources.Get $resourcePath) -}}
            {{ $fingerprintedURL := $imgResource.Permalink }}

            {{/* warnf "3 partials/testimonials 🟢 : %+v" $imgResource }}
            {{ warnf "4 partials/testimonials 🟢 : %T" $imgResource }}
            {{ warnf "5 partials/testimonials 🟢 : %+v" $imgResource.Permalink }}
            {{ warnf "6 partials/testimonials 🟢 : %T" $imgResource.Permalink */}}

            {{/* warnf "7 partials/testimonials 🟢 : %+v" $fingerprintedURL }}
            {{ warnf "8 partials/testimonials 🟢 : %T" $fingerprintedURL */}}
            <div class="d-flex justify-content-center">
              {{ partial "image.html" (dict "Src" $fingerprintedURL "Alt" .name ) }}
            </div>
          {{ end }}
          <h4>{{ .name }}</h4>
          <span>{{ .designation }}</span>
        </div>          
      </div>
      {{ end }}
      </div>
    </div>
    {{ end }}
  </div>
</section>
{{ end }}

