{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-5 mb-4 mb-md-0">
        <!-- product image slider -->
        <div class="product-image-slider">
          {{ range .Params.images }}
          
            {{/* warnf "1 our-builds/single 🟢 : %+v" ( . ) }}
            {{ warnf "2 our-builds/single 🟢 : %T" ( . ) */}}

            {{/* Create the resource from . */}}
            {{/* Fingerprint the resource */}}
            {{/* Create the copy */}}
            {{/* Pass the new resource path to data-image */}}
            {{/* Pass the new resource path to partial "image.html" */}}

            {{ $resourcePath := resources.Get . }}
            {{ $fingerprintedImage := $resourcePath | fingerprint }}
            {{- $imgResource := resources.Copy ($fingerprintedImage.RelPermalink | strings.TrimPrefix (printf "/%s" site.Params.section)) (resources.Get $resourcePath) -}}
            {{ $fingerprintedURL := $imgResource.Permalink }}

            {{/* warnf "3 our-builds/single 🟢 : %+v" $imgResource }}
            {{ warnf "4 our-builds/single 🟢 : %T" $imgResource }}
            {{ warnf "5 our-builds/single 🟢 : %+v" $imgResource.Permalink }}
            {{ warnf "6 our-builds/single 🟢 : %T" $imgResource.Permalink */}}
          
            {{/* warnf "7 our-builds/single 🟢 : %+v" $fingerprintedURL }}
            {{ warnf "8 our-builds/single 🟢 : %T" $fingerprintedURL */}}
            <div data-image="{{ $fingerprintedURL | absURL }}">
              {{ partial "image.html" (dict "Src" $fingerprintedURL "Alt" "product-image" "Class" "img-fluid w-100" ) }}
            </div>
          {{ end }}
        </div>
      </div>
      <div class="col-lg-6 col-md-7 offset-lg-1">
        <h1 class="mb-4">{{ .Title }}</h1>

        {{ $productVariations := dict }}
        {{ range $paramsKey, $paramsValue := .Params }}
          {{ if hasPrefix $paramsKey "productvariation_" }}
            {{ $variation := substr $paramsKey 17 }} <!-- remove "productvariation_" prefix -->
            {{ $productVariations = merge $productVariations (dict $variation $paramsValue) }}
          {{ end }}
        {{ end }}

        {{ range $variation, $values := $productVariations }}
          <p><strong>{{ $variation | title }}: </strong>{{ delimit $values ", " | title }}</p>
        {{ end }}
        <p class="price py-4">{{if .Params.discount_price}}{{site.Params.currency}}{{.Params.discount_price}}{{else}}{{site.Params.currency}}{{.Params.price}}{{end}}
        {{if .Params.discount_price}}<s class="price">{{site.Params.currency}}{{ .Params.price }}</s>{{end}}
        </p>
        {{ if site.Params.snipcart.enable }}
        <button class="snipcart-add-item btn btn-main mb-5" 
          data-item-id="{{.Title | urlize}}__{{if .Params.discount_price}}{{.Params.discount_price}}{{else}}{{.Params.price}}{{end}}"
          data-item-name="{{.Title}}"
          data-item-image="{{with .Params.Images}} {{range first 1 . }}{{. | absURL}}{{end}}{{end}}"
          data-item-price="{{if .Params.discount_price}}{{.Params.discount_price}}{{else}}{{.Params.price}}{{end}}" data-item-url="{{.Permalink}}"
          {{ $customIndex := 1 }}
          {{ range $variationKey, $options := $productVariations }}
            data-item-custom{{ $customIndex }}-name="Choose {{ $variationKey | title }}"
            data-item-custom{{ $customIndex }}-options="{{ range $index, $value := $options }}{{ if eq $index 0 }}{{ $value | title }}{{ else }}|{{ $value | title }}{{ end }}{{ end }}"
            {{ $customIndex = add $customIndex 1 }}
          {{ end }}>
          Add to Cart
        </button>
        {{ else }}
        {{ with .Params.button_link}}
        <a class="btn btn-main mb-5" href="{{ . | absURL }}">Add to Cart</a>
        {{ end }}
        {{ end }}

        <div class="content">{{.Content}}</div>
      </div>
    </div>
  </div>
</section>

{{ end }}
